
.headerSearch {
  display: inline-flex;
  align-items: center;
  .input {
    width: 0;
    min-width: 0;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    transition: width 0.3s, margin-left 0.3s;
    :global(.ant-select-selection) {
      background: transparent;
    }
    input {
      box-shadow: none !important;
    }
    &:hover {
      background: transparent!important;
    }
    &.show {
      width: 210px;
      margin-left: 8px;
    }
  }
}
.header-menu {
  ul {
    display: flex;
    justify-content: center;
  }
  .ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-selected::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected::after {
    border: none !important;
  }
  .ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item:hover::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu:hover::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu:hover::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-item-active::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-active::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-active::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-active::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-item-open::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item-open::after, .ant-menu-light.ant-menu-horizontal >.ant-menu-submenu-open::after, .ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-open::after {
    border: none !important;
  }
  .ant-menu  {
    font-size: 16px;
  }
}
.header-main {
  padding-left: 16px;
  padding-right: 16px;
}
.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(230, 230, 230);
  .copyright {
    line-height: 100px;
    font-size: 16px;
    color: rgb(122, 122, 122);
  }
}
.main-content {
  font-family: Roboto, sans-serif;
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.4em;
  }
  h2 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 0.7em;
  }
  h4 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 1.6em;
  }
  .elementor-widget-text-editor {
    color: rgb(122, 122, 122);
  }
  .home-content {
    font-size: 16px;
    padding-bottom: 40px;
  }
  .width-90 {
    width: 90%;
  }
  .elementor-widget-container {
    text-align: center;
  }
}
.apply-form .ant-picker-outlined {
    width: 100%;
}
.apply-form .ant-input-number-outlined {
  width: 100%;
}